
.card-body{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.strike{
    text-decoration: line-through;
    color: brown;
}